<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópicos da Categoria <%= category.name %></title>
</head>
<body>
    <h1>Tópicos da Categoria <%= category.name %></h1>
    <ul>
        <% topics.forEach(topic => { %>
            <li>
                <h2><%= topic.title %></h2>
                <p><%= topic.description %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
